!!! 5
html(lang="en")
  head
    title #{site.config.title}
    link(href="/stylesheets/screen.css", media="screen", rel="stylesheet", type="text/css")
    link(rel="alternate", type="application/rss+xml", title="RSS 2.0", href="/feed.rss")
    link(rel="alternate", type="application/atom+xml", title="Atom Feed", href="/feed.xml")
  body
    header#header
      hgroup
        h1
          a(href="/") #{site.config.title}
        h2 I promise to write regularly!
    nav.panel
      h2 About
      p This is my blog.  There are many like it, but this is mine.
      h2 Links
      ul
        li
          a(href="http://popjs.com") Powered by Pop
        li
          a(href="http://dailyjs.com") Learn JavaScript
        li
          a(href="http://alexyoung.org") Designed by Alex R. Young
    section.content
      !{content}
    footer
      nav
        h1 Footer Content 
        ul
          li
            a(href="http://popjs.com") Powered by Pop
          li
            a(href="http://dailyjs.com") Learn JavaScript
          li
            a(href="http://alexyoung.org") Designed by Alex R. Young
      p.copyright Content &copy; The Authors
