/* Variables */
light = #fff
dark = #1a1a1f
back = #ddd
highlight = #d02413

standard-font-size = 14px
small-font-size = 12px
header-font-size = 128.5%

/* Functions */
header-gradient()
  background: #cfd2d7
  background: -moz-linear-gradient(top, #cfd2d7 0%, #a3a8af 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfd2d7), color-stop(100%,#a3a8af))
  background: -webkit-linear-gradient(top, #cfd2d7 0%,#a3a8af 100%)
  background: -o-linear-gradient(top, #cfd2d7 0%,#a3a8af 100%)
  background: -ms-linear-gradient(top, #cfd2d7 0%,#a3a8af 100%)
  background: linear-gradient(top, #cfd2d7 0%,#a3a8af 100%)

glass-gradient()
  background: #f6f8f9
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9))
  background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%)
  background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%)
  background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%)
  background: linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%)

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

border-radius-top()
  -webkit-border-top-left-radius: arguments
  -webkit-border-top-right-radius: arguments
  -moz-border-radius-topleft: arguments
  -moz-border-radius-topright: arguments
  border-top-left-radius: arguments
  border-top-right-radius: arguments

shadow()
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)

big-shadow()
  box-shadow: 0 0 15px #000

lozenge()
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  background-color: #bbc4cc
  padding: 4px 8px
  text-decoration: none
  color: dark
  font-weight: bold
  font-size: small-font-size
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

reset()
  margin: 0
  padding: 0

/* Styles */
body
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
  font-size: standard-font-size
  margin: 0 auto
  padding-bottom: 2em
  word-spacing: 0.1em
  background-color: back
  max-width: 960px

h1, h2, h3, h4, p
  reset()

h1, h2, h3, h4
  font-size: header-font-size

a
  color: highlight

a:hover
  text-decoration: none

blockquote
  reset()
  font-style: italic
  text-shadow: 0 1px 0 #fff
  color: #333

#header
  margin: 10px 0 20px 0
  padding-bottom: 10px
  border-bottom: 3px solid #ced3d2

#header h2
  color: #333
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

#header h1
  font-size: 50px
  text-shadow: rgba(0,0,0,0.3) 0 -1px

#header h1 a
  color: #fff
  text-decoration: none

article
  margin: 0 0 20px 0
  padding-bottom: 10px
  background-color: light
  border-radius 5px
  border-color: light
  shadow()

article header
  margin-bottom: 10px

article header h1
  border-top: 1px solid #bbb
  margin: 0 0 5px 0
  font-size: header-font-size

article header h1 a
  text-decoration: none
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

article h1, article h2, article h3, article h4, article h5, article h6, article p, article blockquote, article pre
  padding: 10px 20px

article time, article .author, article .tags
  display: inline
  margin: 0 0 0 5px
  font-size: standard-font-size
  lozenge()

.read-more:hover
  box-shadow: 0 0 2px #000

.tags a
  text-decoration: none
  color: dark

.tag-list h2, p
  margin: 10px 0

.tag-list .posts
  display: none

article time
  margin-left: 20px

.read-more
  lozenge()

nav#breadcrumb
  margin: 10px 0 20px 0
  clear: both

.content
  width: 740px
  float: left
  clear: right

nav.panel
  width: 200px
  float: left
  clear: left
  padding-bottom: 10px
  background-color: light
  border-radius 5px
  border-color: light
  emboss()
  margin: 0 20px 40px 0

nav.panel p
  margin: 10px 10px 20px 10px
  
nav.panel ul
  margin: 10px 0
  padding: 0 0 0 25px

nav.panel h2
  background-color: highlight
  color: #fff
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
  padding: 3px 5px

.prev_next
  margin: 0 0 10px 0
  clear: both
  float: left

.prev_next .page, .prev_next .next
  padding: 3px 5px
  margin: 5px
  text-shadow: 0 1px 0 #fff

footer
  clear: both
  width: 100%
  margin: 40px 0 0 0
  padding-top: 20px
  border-top: 3px solid #ced3d2

footer p
  font-size: small-font-size
  text-align: right
  text-shadow: 0 1px 0 #fff
